body {
    font: 16px arial;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

#header {
    text-align: center;
    background-color: #da2045de;
    padding: 10px;
    margin-top: 30px;
}

#header h1 {
    color: rgb(253, 247, 247);
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

#menu {
    background-color: rgb(89, 84, 84);
}

#menu ul {
    padding: 0 10 px;
    list-style: none;
}

#menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/*
#mainContainer {
    background-color: #fff;
    margin: auto 50px 50px auto;
}
*/

.container .post-form {
    width: 80%;
    padding: 30px;
    margin: 0 auto 10px;
    border-radius: 8px;
    background-color: #da2045de;
}

.container .post-form .form-group {
    margin: 15px;
}

.container .post-form .form-group label {
    font-weight: 600;
}

.container .post-form .form-group .btn {
    background-color: rgb(89, 84, 84);
}

.container .post-form .form-group .btn:hover {
    box-shadow: 0 0 5px lightgray;
}